/*border:10px solid green;*/
*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    text-decoration:none;
}
img{
    height: auto;
    width:400px;
}
header{
    position:fixed;
    width:100%;
    z-index: 999;
    padding: 15px 0;
    /*background: skyblue;*/
    font-family: 'Times New Roman', Times, serif;
    transition: color 0.3s ease;
}
header.sticky{
    padding: 15px 0;
    background: rgb(2, 26, 36);
}

header .max-width{
    display: grid;
    grid-template-columns: 1fr 1fr;  
    
}

header .logo a{
    color:snow;
    font-size: 37px;
    font-weight: 650;
    display:inline-block;
}
header .menu li{
   list-style: none;
    display:inline-block;
}
header .menu li a{
    color:snow;
    font-size: 18px;
    font-weight: 550;
    margin-left: 25px;
    transition: color 0.3s ease;
}
header .menu li a:hover{
    color: skyblue;
}
header.sticky .menu li a:hover{
   color:red;
}
/* menu button*/
.bar-btn{
    width: 35px;
    height: 5px;
    background-color:whitesmoke;
    margin: 6px 0;
  }
  .menu-btn{
      cursor:pointer;
      display:none;
  }
main{
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, auto [row-start]);
    /*grid-template-areas: 
        ". h h h h h h h h h h ."
        "m c c c c c c c c c c c"
        ". f f f f f f f f f f .";*/
}
.home{
    display: flex;
    background: black;
    height: 100vh;
    color: snow;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    min-height: 500px;
}

.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-content .text-1{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-2{
    font-size: 80px;
    margin: 5px 0;
}
.max-width{
    max-width: 1300px;
    padding:0 80px;
    margin: auto;
}
section{
    padding: 100px 0;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu',sans-serif;  
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

section .title::after{
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color:rgb(146, 14, 20);
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}
.about{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}
.about .title{
    text-align: center;
}
.about-content{
    grid-column-start: 1;
    grid-row-start: row1-start;
    display: grid;
    grid-template-columns: auto 1fr ;
    grid-gap:1px;
}
.about-content .column.left{
    grid-column-start: 1;
    grid-column-end: 2;
    margin-right: 0px;
    padding-right: 0px;   
}
.about .about-content .left img{
    height:400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about-content .column.right{
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: justify;  
    padding-top: 10px;
    padding-right: 20px;
}
.column .text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 600;
}
.column p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 300;  
}
.about .about-content .right a{
    text-align: justify;
    display: inline-block;
    background: crimson;
    font-size: 25px;
    font-weight: 500;
    padding:1px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid red;
    transition: all 0.3s ease;
    }
    .about .about-content .right a:hover{
        color: crimson;
        background: none;
    }

.jobs{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    background: #111;
    color: #fff;
}
.jobs .title,
.skills .title,
.contact .title{
    text-align: center;
}
.jobs .title::before{
    background: #fff;
}
.jobs .title::after{
    background: #111;
    content: "what I provide";
}

.jobs .jobs-content{
    grid-column-start: 1;
    grid-row-start: row1-start;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap:20px;
}
.jobs .jobs-content .card{
    width:calc(90% - 20px);
    background: #222;
    text-align:center;
    border-radius:6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.jobs .jobs-content .card .box{
    transition: all 0.3s ease;
}
.jobs .jobs-content .card:hover{
    background: crimson;
}
.jobs .jobs-content .card:hover .box{
    transform: scale(1.05);
}
.jobs .jobs-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
/*skills styles*/
.skills .title::after{
    content: " My Skills";
}
.skills{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;   
}
.skills .skills-content{
    grid-column-start: 1;
    grid-row-start: row1-start;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap:20px;
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight:60px;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    text-align: justify;
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding:8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid red;
    transition: all 0.3s ease;

}
.skills .skills-content .left a:hover{
    color: red;
    background: none;
}

.skills .skills-content .right .bars{
    margin-bottom: 15px;
}

.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;

}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: darkgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content:"";
    position:absolute;
    height: 100%;
    left: 0;
    top:0;
    background: red;
}
.skills .skills-content .right .html::before{
    width: 90%;
}
.skills .skills-content .right .css::before{
    width: 60%;
}
.skills .skills-content .right .js::before{
    width: 90%;
}
.skills .skills-content .right .python::before{
    width: 10%;
}
.skills .skills-content .right .java::before{
    width: 50%;
}
/*contact styles*/
.contact .title::after{
    content:"get in touch";
}
.contact{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;   
}
.contact .contact-content{
    grid-column-start: 1;
    grid-row-start: row1-start;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap:20px;
}
/*.contact .contact-content .column{
    width: calc(50% - 30px);
}*/
.contact .contact-content .text{
font-size: 20px;
font-weight: 600;
margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin:10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items:center;
}
.contact .contact-content .row .info{
margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: red;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .subtitle{
    color: #333;
}
.contact  .right form .fields{
display: flex;
}
.contact  .right form .field,
.contact  .right form .fields, field{
    height:45px;
    width:100%;
    margin-bottom: 15px;
}
.contact  .right form .textarea{
    height: 80px;
    width:100%;
}
.contact  .right form .name{
    margin-right: 10px;
}
.contact  .right form .name{
    margin-right: 10px;
}

.contact  .right form .field input,
.contact  .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding:0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
.contact  .right form .textarea textarea{
    padding-top: 10px;
    resize:none;
}
.contact  .right form .button{
    height: 47px;
    width: 170px;
}
.contact  .right form .button button{
    height: 100%;
    width: 100%;
    border: 2px solid red;
    background: red;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
}
.contact  .right form .button button:hover{
    color: red;
    background: none;
}
footer{
    background: #111;
    padding:20px 23px;
    color: #fff;
}
footer span a{
    color: red;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}
/* responsive media query start*/
@media (max-width: 1300px){
    .home .max-width{
        padding:0px;
    }
}
@media (max-width: 1104px){
    .about .about-content .left img{
        height:350px;
        width: 350px;
    
    }
}
@media (max-width: 991px){
    .max-width{
        padding:0 0px;
    }
}
@media (max-width: 947px){
    .max-width{
        max-width: 800px;  
    }

    .bar-btn{
        width: 35px;
        height: 5px;
        background-color:whitesmoke;
        margin: 6px 0;
        
      }
      .menu-btn{
        
        position: fixed;
        position: sticky;
        display: block;
        z-index:999; 
    }
    .menu-btn .bars{
        float:right;
    } 
    .bars.show{
      display:none;   
  } 
    .menu-btn .bar-close{
      display:block;
      font-size: 50px;
      font-weight: 500;
      color: whitesmoke;  
      text-align: right; 
  } 
  .bar-close.show{
      display: none;
  }
  header .menu{
    position: fixed;
    height: 100vh;
    width: 100%;
    left:-100%;
    top: 0;
    background: red;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
}
header .menu.active{
    left:0;
}
header .menu li{
    display: block;

}
header .menu li a{
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
}
.jobs .jobs-content .card {
    /*width: calc(50% - 10px);*/
    margin-bottom: 20px;
}
/*.skills .skills-content .column,
.contact .contact-content .column {
    width: 100%;
    margin-bottom: 25px;
}*/
.about-content{
    /*grid-column-start: 1;
    grid-row-start: row1-start;
    display: grid;*/
    grid-template-columns:1fr ;
    grid-template-rows: auto 1fr;
    grid-gap:1px;
    
}
.about-content .column.left{
    grid-column-start: 1;
    grid-column-end: 3;
    margin-right: 5px;
    padding-right: 0px; 
    place-self:center; 
}
.about-content .column.right{
    grid-column-start: 1;
    grid-column-end: 3;   
    text-align: justify;  
    padding-top: 10px;
    padding-right: 20px;
}

.skills .skills-content,
.contact .contact-content{
    display: inline-grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1 fr 1fr;
    grid-gap:10px;
}
.jobs .jobs-content{
  display: inline-grid;
    grid-template-columns: 1fr ;
    grid-gap:20px;
}

}

@media (max-width: 690px){

    .max-width{
        padding:0 23px;
    }
    .home .home-content .text-1{
        font-size: 32px;
       
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    
}

@media (max-width: 500px){
    .home .home-content .text-1{
        font-size: 27px;   
    }
    .home .home-content .text-2{
        font-size: 50px;
    }
 
}